.center{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.status{
display: flex;
align-items: center;
flex-direction: column;
margin-top: -24px;
}
.link{
    color:'black'
}
.active{
    background-color: rgb(120, 115, 115);
    
    text-decoration: none;
}
